@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: rgba(230, 230, 230, 0.6823529412) !important;
}
.contact{
    padding: 50px 0px;
    iframe{
        margin-top: 30px;
    }
    .col-lg-5{
        .contact__content{
            padding-left: 50px;
        }
        .hr{
            max-width: 135px !important
        }
        p{
            max-width: 320px;
            width: 100%;
        }
    }
    .contact__content{
        a{
            font-size: 16px;
            line-height: 1.5;
            color: #888888;
            font-weight: 300;
            display: flex;
            align-items: center;
            i{
                color: #222222;
                padding-right: 10px;
                font-size: 16px;
            }
        }
        h2{
            font-size: 26px;
            font-weight: 600;
            letter-spacing: 0px;
            text-transform: none;
            color: #383838;
            margin-bottom: 20px;
        }
        .hr{
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-color: #e6e6e6;
            max-width: 270px;
            width: 100%;
            margin-bottom: 50px;
        }
        p{
            margin-top: 0px;
            margin-bottom: 20px;
            font-size: 16px;
            text-align: justify;
            line-height: 1.5;
            color: #888888;
            font-weight: 300;
        }
    }
}
